/composer.lock
*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
/fuel/vendor
/app/logs/*/*/*
/app/cache/*/*
/app/config/crypt.php
/app/config/db.php
nbproject/

